<div class="eh-modal-overlay">
  <div class="eh-modal-container">
    <div class="eh-modal-close"></div>
    <div class="eh-modal-content">
      <h2>${this.data.cta.header}</h2>
      <div class="el-modal-cta">
        <a
          href="#?form=donate"
          class="box-button elementor-button elementor-size-xl"
          >${this.data.cta.copy}</a
        >
      </div>
    </div>
  </div>
</div>
